main.aux
main.bbl
main.toc
main.run.xml
main.idx
main.bcf
main.blg
main.log
main.ptc
Pictures/ataque.PNG
Pictures/background.pdf
Pictures/camera.png
Pictures/chapter_head_1.pdf
Pictures/chapter_head_2.pdf
Pictures/eu.jpg
Pictures/eu01.jpg
Pictures/funcao_linear.PNG
Pictures/hand.png
Pictures/placeholder.jpg
Pictures/play.png
Pictures/red_folder.png
Pictures/www.png
